.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 150px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    background-color: #FFF;
    position: sticky;
    top: 10;
    z-index: 1;
}

p {
    color: aliceblue;
}
