:host {
    .action-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        .user-selection {
            color: white;
            width: 100%;
            max-width: 300px;
        }
    }
    .ting {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ng-container {
        display: flex;
        flex-direction: column;
        width: 1000px;
        .total {
            p {
                display: flex;
                justify-content: flex-end;
                margin-top: 25px;
            }
        }
    }
    // table {
    //     td {
    //         padding: 10px 16px;
    //         align-items: right;
    //     }
    // }
    table {
        tr {
            .num {
                text-align: left;
            }
        }
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        p {
            font-size: xx-large;
        }
    }
    .qr {
        display: none;
    }
    .addSection {
        display: flex;
        justify-content: space-between;
    }
    .print {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.qr {
    display: absolute;
    justify-self: flex-start;
}