<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949274478999-va55qvoq27l8ouk12u9m8mmh5cs6itp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949274478999-va55qvoq27l8ouk12u9m8mmh5cs6itp7</string>
	<key>API_KEY</key>
	<string>AIzaSyBgUourJAxUgUp-6UUOlFr3Ct-L9SEIYRk</string>
	<key>GCM_SENDER_ID</key>
	<string>949274478999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indiworks.app</string>
	<key>PROJECT_ID</key>
	<string>fresh-basket-66d8c</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-basket-66d8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949274478999:ios:cb639cd5b137c519b2dcd2</string>
</dict>
</plist>