<div class="container">
    <div class="row justify-content-center p-2">
        <h1>Upload Data</h1>
    </div>
    <div class="from-group">
        <input type="text" class="form-control" placeholder="Enter Name">
    </div>
    <br>
    <div class="from-group">
        <input type="number" class="form-control" placeholder="Enter Price">
    </div><br>
    <div class="from-group">
        <input type="number" class="form-control" placeholder="Enter Offer">
    </div><br>
    <div class="from-group">
        <input type="text" class="form-control" placeholder="Enter id">
    </div>
    <br>
    <div class="from-group">
        <input type="file" class="form-control">
        <br>
        <button 
        class="btn btn-success">
        Upload
    </button>
    </div>
</div>